.list-container {
  background-color: azure;
}

.list-container .filter-box {
  display: flex;
  flex-direction: column;
  margin: 10%;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: aliceblue;
}

.list-container .filter-box .filter-or-sort {
  align-items: center;
  width: 100%;
}

.list-container .filter-box .filter-or-sort .sort-it-by {
  width: 30%;
}

.photo {
  height: 800px;
  width: 600px;
}

.new-movie-box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-movie-title {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 3%;
  color: white;
}

.delete-movie {
  color: white
}

.add-button {
  background-color: rgb(17, 144, 228);
  width: 20%;
  border-radius: 7px;
}

:hover .add-button {
  cursor: pointer;
}