.App {
  text-align: center;
}

.nav-container {
  background-color: rgb(84, 84, 238);
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.nav-tags {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
}

.list-item {
  text-decoration: none;
}